<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <form action="" class="formulario">
    <ion-card>
      <ion-item class="itens">
        <ion-label>Insira a imagem do estabelecimento :</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="file" placeholder="Insira uma imagem aqui"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Insira o nome do estabelecimento</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="text-p" placeholder="Insira o nome aqui"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="primary" (click)="confirmar()">Confirmar</ion-button>
        <ion-button color="danger" (click)="voltar()">Cancelar</ion-button>
      </ion-item>
      <ion-item>
        <div class="camp_gestao">
          <ion-button routerLink="/gerenciar-usuarios"
           class="link_gestao"
           color="ligth">
            Gerenciar Usuários
        </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </form>

</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>