/* Estilo padrão (não selecionado) */
ion-tab-button i {
  font-size: 25px;
  color: #a0a0a0; /* cor do ícone inativo */
  transition: color 0.3s ease;
}

ion-tab-button ion-label {
  font-size: 11px;
  margin-top: 3px;
  color: #a0a0a0; /* cor do texto inativo */
  transition: color 0.3s ease;
}

/* Estilo quando a aba está selecionada */
ion-tab-button.tab-selected i {
  color: #FF6B35; /* cor do ícone ativo */
}

ion-tab-button.tab-selected ion-label {
  color: #FF6B35; /* cor do texto ativo */
}
