<ion-content>
  <div class="container">
    <ion-img class="imagepage"
  src="assets/imagens/logos_trimix.jpeg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
<div>
<ion-button 
routerLink="/" 
color="primary"
 style="padding: 40px;"
 class="btn-enter"
 (click)="google()">
 Entrar com google
</ion-button>

<ion-button 
routerLink="/"
color="primary"
 style="padding: 40px;"
 class="btn-enter"
 routerLink="/entrartelefone">
 Entrar com telefone
</ion-button>

<div class="link">
  <a routerLink="/home">Entrar sem conta</a>
</div>
</div>
  </div>
</ion-content>