ion-content {
  --background: #f38536; /* Fundo da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_timix {
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-enter {
  width: 220px;
  height: 45px;
  background: linear-gradient(135deg, #007bff, #0056d2);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
  transition: all 0.3s ease;
  text-transform: uppercase;
}
