<ion-content fullscreen="true" class="content">
  <form class="formulario" 
  (ngSubmit)="confirmar()">
    <div class="btn-voltar">
      <ion-button 
      routerLink="/enter-conta" class="btn-secundario">
        Voltar
      </ion-button>
    </div>

    <div class="caixa">
      <ion-label>Nome :</ion-label>
      <ion-input type="text"
       placeholder="Digite seu nome"></ion-input>
    </div>

    <div class="caixa">
      <ion-label>Sobrenome :</ion-label>
      <ion-input type="text" placeholder="Digite seu sobrenome"></ion-input>
    </div>

    <div class="caixa">
      <ion-label>Telefone :</ion-label>
      <ion-input type="tel" placeholder="Digite seu telefone"></ion-input>
    </div>

    <div class="btn-enviar">
      <ion-button expand="block"
       class="btn-principal"
       type="submit">
        Confirmar
      </ion-button>
    </div>
  </form>
</ion-content>
