<ion-header>
  <app-menu></app-menu>
</ion-header>

<ion-content>
  <form action="" class="formulario">
    <ion-card>
      <ion-item class="itens">
        <ion-label>Insira o dia da semana :</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="text-p" 
        placeholder="Insira o dia aqui"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="primary" 
        (click)="listadia()"
        >Confirmar</ion-button>
        <ion-button color="danger"
         (click)="dia_semana()">Cancelar</ion-button>
      </ion-item>
    </ion-card>
  </form>
</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>