<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <div class="add">
    <ion-button class="link_add" (click)="verificar()">+ Adicionar</ion-button>
  </div>
<ion-card class="cards" 
*ngFor="let empresa of nomecomponent , let i = index">
  <ion-img class="image" [src]="imagenscomponent[0]"></ion-img>
  <div class="nomebarbearia">
    <b>{{nomecomponent}}</b>
  </div>
  <ion-button expand="full" 
  class="enter" 
  (click)="entrar()">Entrar</ion-button>
</ion-card>
</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>