<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <div class="add">
    <ion-button class="link_add" (click)="verificar()">+ Adicionar</ion-button>
  </div>
<ion-card class="cards">
  <ion-img class="image" src="assets/imagens/exemplo.jpeg"></ion-img>
  <p class="text-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam, asperiores aliquam possimus esse eius molestiae placeat, distinctio maiores quis fugiat autem accusantium deserunt nemo suscipit nisi provident quo dolores.</p>
  <ion-button expand="full" 
  class="enter" 
  routerLink="/autenticacao-cliente">Entrar</ion-button>
</ion-card>
</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>