<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <div class="add">
    <ion-button class="link_add" (click)="verificar()">+ Adicionar</ion-button>
  </div>
<ion-card class="cards">
  <ion-img class="image" src="assets/imagens/exemplo2.jpg"></ion-img>
  <div class="nomebarbearia">
    <b>Nome barbearia</b>
  </div>
  <ion-button expand="full" 
  class="enter" 
  (click)="entrar()">Entrar</ion-button>
</ion-card>
</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>