<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Digite seu nome :</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text-p" placeholder="Digite seu nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-item>
        <ion-button color="primary">Confirmar</ion-button>
        <ion-button color="danger" (click)="voltar()">Voltar</ion-button>
      </ion-item>
  </ion-item>
</ion-list>
</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>